*/.classpath
*/.gradle
*/.project
*/.settings
*/bin
*/build
*/target
target
/.gradle
*/META-INF
/build.version
/publish
/.idea
/.metadata
*/src/main/java/org/opendaylight/yang
*/src/main/yang-gen-sal
*/src/main/yang-gen-config
!OFProxyappModule.java
*.iml
*/*.iml
